<h1> Camper Page </h1>

<ul>
  
  <li>
    Name: <%= @camper.name %>
  </li>

  <li>
    Age: <%= @camper.age %>
  </li>

  <li>
    Enrolled:  <%= @camper.created_at %>
  </li>

  <li>
    Activities:
      <ul>
        <% @camper.camper_activities.each do |camper_activity| %>
          <li> <%= camper_activity.activity.name %> - <%= camper_activity.time %></li>
        <% end %>
      </ul>
  </li>

</ul>
